<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HWdTech.Common" version="1.0.0.36147" targetFramework="net40" />
  <package id="HWdTech.DS.v30" version="3.0.2.36152" targetFramework="net40" />
  <package id="HWdTech.HTTP" version="1.0.0.36150" targetFramework="net40" />
  <package id="HWdTech.PropertyObjects" version="1.0.0.20604" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.10" targetFramework="net40" />
</packages>